#omg{
    text-align: right;
    color: white
}
#omg2{
    text-align: center;
    color: white
}
#omg3{
    color: white
}

.info{
background-color: white;
display: grid;
grid-template-columns: 1fr 2fr 1fr 

}

aside{
    background-color: #4D4D4D;
    color: #D9D9D9
}

main{
    text-align: center
}