h2{
    text-align: center;
    font-size: 48px;
    

}

main{
    display:grid;
   
}
img{
 width: 400px; 
 height: 300px;
text-align: center
}


.back_bild{
    background-image:url("../img/solnedgang_unsplash.jpg");
    background-color: #cccccc;
 height: 100px;
 margin-bottom: 7px
}

.kak{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    text-align: center;
}


#hej{
text-align: left
}
#hej2{
    text-align: center
}

#sos{
    color: white;
    text-align: center
}
#sos1{
    color: white;
    text-align: center
}

nav{
    grid-template-columns: 1fr 1fr 
}