main{
    display: grid;
    
}

.nyheter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center
    
}

img{
    width: 400px; 
 height: 300px;
 
}
.nyhet_bild{
    text-align: center
}






@media screen and (max-width: 700px) and (min-width:1px) {

    footer{
        font-size: 13px
    }
    
    h1{
        font-size: 17px
    }
    
    .länkar{
        font-size: 17px
    }
    
    .loga{
        position: absolute;
        top: 10px;
        left: 100px;
    }
    
    .hovoudbar{
        border-style: solid;
        border-width: 180px 1px 1px 1px;
    
    }
     
    img{
        width: 365px; 
        height: 260px;
       text-align: center
    
    }

    .nyheter{
        display: flex;
        grid-template-columns: none;
        text-align: center;
        flex-direction: column;
    }

    #ny1{
        order: 1
    }
    #ny2{
        order: 3
    }
    #ny3{
        order: 5
    }

    #ny4{
        order: 2
    }
    #ny5{
        order: 4
    }

    #ny6{
        order: 6
    }
}