main{
    display: grid;
    
}

.nyheter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center
    
}

img{
    width: 400px; 
 height: 300px;
 
}
.nyhet_bild{
    text-align: center
}

#jul{
    color: white;
    text-align: center
}


#jul1{
    color: white;
    text-align: center
}


#jul2{
    color: white;
    text-align: center
}