.hovoudbar {
 display: grid ; 
 background-color: black;

}

.länkar{
color: white;
margin: 7px;
font-size: 24px
}

#uggla{
    height:200px ;
    width:225px ;
}

.name{
    color: white;
    text-align: center;

}