.hovoudbar {
 display: grid ; 
 background-color: black;
}

.header{
    display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 
}

.länkar{
color: white;
margin: 7px;
font-size: 24px
}

#uggla{
    height:150px ;
    width:175px ;
}

.loga{ 
    text-align: center;
    background-color: black
}

.name{
    color: white;
    font-size: 24px
}