.hovoudbar {
 display: grid ; 
 background-color: black;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 
}


.länkar{
color: white;
margin: 15px;
font-size: 24px;
text-align: center;
margin-top: 4em;
text-transform: uppercase;
 text-decoration: none;
}

#uggla{
    height:150px ;
    width:175px ;
}

.loga{ 
    text-align: center;
    background-color: black
}

.name{
    color: white;
    font-size: 24px
}

nav{
background-color: white;
 border: 2px solid white
}

p{
    
    font-size: 18px
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: black;
    color: white
}

h1{
  font-size: 24px
}

.jobs{
    color: white
}



.nav-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 24px
    
}

.toggle-nav{
    width: 70px;
    height: 70px;
    background-color: white;
    background-image: url(../img/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}

.toggle-nav:hover{
    opacity: 0.5;
}

.ul-toggle{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-left: 0em;
    visibility: hidden;
}

.toggle-li{
list-style: none;
line-height: 35px;
color: #111111
}

.toggle-a{
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
    margin-left: 25em;
    font-size: 18px;
    
    
}



@media screen and (max-width: 700px) and (min-width:1px) {

    .länkar{
        color: white;
        margin: 15px;
        font-size: 24px;
        text-align: center;
        margin-top: 4em;
        text-decoration: none;
        text-transform: none
    }

    .toggle-a{
        margin-left: 2em;
        font-size: 15px
    }
    

}







.name{
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.5, #222));
    background: -moz-gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.5, #222));
    background: gradient(linear, left top, right top, from(#fff), to(#fff), color-stop(0.5, #222));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
}

@-moz-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}
}




